<!------ Include the above in your HEAD tag ---------->

<div class="container search-table">
    <div class="search-box">
        <div class="row">
            <div class="col-md-6">
                <h5>Digite a Hashtag:</h5>
            </div>
            <div class="col-md-9">
                <input type="text" id="myInput" class="form-control" [formControl]="queryField"
                    placeholder="Pesquisar hashtag">
            </div>
            <div class="col-auto">
                <button type="button" class="btn" (click)="onSearch()">Pesquisar</button>
            </div>
        </div>
    </div>
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <!-- ngfor loop using get dynamic value and ngClass for add active class -->
        <div class="carousel-item" *ngFor="let result of results$| async; let i = index" [ngClass]="{'active': i === 0}">
         <img src={{result.avatar_url}} title={{result.login}} />
        </div>
      </div>
      <!-- <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button> -->
    </div>
</div>
