.navbar {
  background: #29142c;
  height: 100px;
}

.container {
  background: #ED7518 !important;
  height: 100%;
  width: 100%;
  display: block;
}

.navbar-toggler-icon {
  width: 100%;
  height: 100%;
}
